<!-- -------- START Features w/ icons and text on left & gradient title and text on right -------- -->
<section class="py-9">
  <div class="container">
    <div class="row">
      <div class="col-md-3 mx-auto mt-md-0 mt-5">
        <div class="position-sticky" style="top:100px !important">
          <h4 class="">About Nick Property<br></h4>
          <h6 class="text-secondary font-weight-normal">            
            At Nick Property, we believe selling your home should be simple, fast, and stress-free.
            Our mission is to provide homeowners with a transparent, reliable,
            and efficient way to sell their properties, no matter their circumstances.
            </h6>
            <br>
            <br>
            <br>
            <br>
            <h6 class="text-secondary font-weight-normal">We’re more than just a cash buyer
              company—we’re your trusted partner in turning challenges into opportunities. 
             Let us help you sell your home quickly and confidently,
             with a process designed entirely around your needs.
            </h6>
            <a href="/cashoffer"
            class="badge bg-success mb-3">Get Fair Cash Offer</a>
        </div>
      </div>
      <div class="col-lg-6 mt-lg-0 mt-5 ps-lg-0 ps-0">
        <div class="p-3 info-horizontal">
          <div class="icon icon-shape  bg-gradient-dark shadow-dark text-center">
            <i class="fas fa-ship opacity-10"></i>
          </div>
            <div class="col-lg-12 my-auto">
                <h3>Innovative Technology for Better Offers</h3>
            </div>
          <div class="description ps-3">
            <p class="mb-0">
                We utilize advanced technology to deliver accurate cash offers within just 24 hours. 
                Our proprietary tools evaluate your property based on market trends, comparable sales, 
                and necessary repair costs, ensuring you get a fair and competitive offer.</p>
          </div>
        </div>

        <div class="p-3 info-horizontal">
          <div class="icon icon-shape  bg-gradient-dark shadow-dark text-center">
            <i class="fas fa-handshake opacity-10"></i>
          </div>
            <div class="col-lg-12 my-auto">
                <h3>Convenient and Flexible Selling Process</h3>
            </div>          
          <div class="description ps-3">
            <p class="mb-0">We know life can be busy. 
                That’s why we’ve streamlined the selling process to fit your schedule. 
                From virtual consultations to online walkthroughs, 
                we make selling your home convenient and hassle-free—no matter where you are.</p>
          </div>   
        </div>
        <div class="p-3 info-horizontal">
          <div class="icon icon-shape  bg-gradient-dark shadow-dark text-center">
            <i class="fas fa-hourglass opacity-10"></i>
          </div>
            <div class="col-lg-12 my-auto">
                <h3>Local Expertise with a Personal Touch</h3>
            </div>          
          <div class="description ps-3">
            <p class="mb-0">As a locally owned company based in Tampa, 
                we understand the unique needs of Florida homeowners. 
            We combine deep market knowledge with personalized service 
            to ensure your selling experience is smooth, tailored, and stress-free. </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- -------- END Features w/ icons and text on left & gradient title and text on right -------- -->

