<section>

  <div class="container">
    <div class="row">
      <div class="row text-center my-sm-2 mt-5">
        <div class="col-lg-6 mx-auto">
          <span class="badge bg-success mb-3">Nick Property</span>
          <h2 class="">Why Work With Us?</h2>
          <p class="lead">Because you're looking to sell your home quickly <br />and get a fair cash offer.</p>
        </div>
      </div>
    </div>
  </div>


  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-4 ms-auto me-auto p-lg-4 mt-lg-0 mt-4">
        <div class="rotating-card-container">
          <div class="card card-rotate card-background card-background-mask-primary shadow-dark mt-md-0 mt-5">
            <div class="front front-background" style="background-image: url(https://images.unsplash.com/photo-1569683795645-b62e50fbf103?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=987&q=80); background-size: cover;">
              <div class="card-body py-7 text-center">
                <i class="material-symbols-rounded text-white text-4xl my-3">touch_app</i>
                <h3 class="text-white">At Nick Property,<br></h3>
                <p class="text-white opacity-8">We'll take care of all the paperwork and closing costs,
             and we'll work around your schedule to make the process as smooth and stress-free as possible.</p>
              </div>
            </div>
            <div class="back back-background" style="background-image: url(https://images.unsplash.com/photo-1498889444388-e67ea62c464b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1365&q=80); background-size: cover;">
              <div class="card-body pt-7 text-center">
                <h3 class="text-white">Discover More</h3>
                <p class="text-white opacity-8"> You will save a lot of time in going to find a fair cash offer for your home because we'll prepare everything</p>
                <a href=".//sections/page-sections/hero-sections.html" target="_blank" class="btn btn-white btn-sm w-50 mx-auto mt-3">Start with Headers</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 ms-auto">
        <div class="row justify-content-start">
          <div class="col-md-6">
            <div class="info">
              <i class="material-symbols-rounded text-gradient text-success text-3xl">content_copy</i>
              <h5 class="font-weight-bolder mt-3">No Repairs or Cleaning Required</h5>
              <p class="pe-5">We buy houses as-is. Feel free to leave unwanted items behind, and we'll handle everything.</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="info">
              <i class="material-symbols-rounded text-gradient text-success text-3xl">flip_to_front</i>
              <h5 class="font-weight-bolder mt-3">Fast Cash for Your Home</h5>
              <p class="pe-3">Our experienced team will provide a fair cash offer for your home within 24 hours.</p>
            </div>
          </div>
        </div>
        <div class="row justify-content-start mt-5">
          <div class="col-md-6 mt-3">
            <i class="material-symbols-rounded text-gradient text-success text-3xl">price_change</i>
            <h5 class="font-weight-bolder mt-3">No Commissions, No Fees</h5>
            <p class="pe-5">Unlike traditional real estate agents, we charge no commissions or fees, meaning you keep more of your home's equity.</p>
          </div>
          <div class="col-md-6 mt-3">
            <div class="info">
              <i class="material-symbols-rounded text-gradient text-success text-3xl">devices</i>
              <h5 class="font-weight-bolder mt-3">Personalized Service</h5>
              <p class="pe-3">We take pride in offering personalized service. We'll work closely with you to understand your unique situation and provide tailored solutions to meet your needs.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
