<section class="pt-3 pb-4" id="count-stats">
  <div class="container">
    <div class="row">
      <div class="col-lg-9 mx-auto py-3">
        <div class="row">
          <div class="col-md-4 position-relative">
            <div class="p-3 text-center">
              <h1 class="text-gradient text-dark"><span id="state1" countTo="70">0</span>+</h1>
              <h5 class="mt-3">Verified Cash Buyers</h5>
              <p class="text-sm font-weight-normal">
                Access a growing network of trusted cash buyers ready to close fast.</p>
            </div>
            <hr class="vertical dark">
          </div>
          <div class="col-md-4 position-relative">
            <div class="p-3 text-center">
              <h1 class="text-gradient text-dark"> <span id="state2" countTo="15">0</span>+</h1>
              <h5 class="mt-3"> Houses Purchased</h5>
              <p class="text-sm font-weight-normal">
               Seamless transactions and satisfied homeowners—your trusted partner in selling fast.</p>
            </div>
            <hr class="vertical dark">
          </div>
          <div class="col-md-4">
            <div class="p-3 text-center">
              <h1 class="text-gradient text-dark" id="state3" countTo="4">0</h1>
              <h5 class="mt-3">Cities We Serve</h5>
              <p class="text-sm font-weight-normal">
                Providing hassle-free home-selling solutions across multiple Florida cities.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>