<!-- -------- START HEADER 1 w/ text and image on right ------- -->
<header>
  <div
    class="page-header min-vh-100"
    style="background-image: url('https://images.unsplash.com/photo-1520769945061-0a448c463865?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80');"
    loading="lazy"
  >
    <span class="mask bg-gradient-dark opacity-5"></span>
    <div class="container">
      <div class="row">
        <!-- Left Section -->
        <div class="col-lg-6 col-md-7 d-flex justify-content-center flex-column">
          <h1 class="text-white font-weight-black mb-4">WE BUY FLORIDA HOUSES AS IS</h1>
          <p class="text-white opacity-8 lead pe-5 me-5">
            Fast Cash For Your Home 
            <br> Your Trusted Fast Seller
          </p>
          <div class="buttons">
            <button type="button" class="btn btn-white mt-4">Get Started</button>
            <button type="button" class="btn text-white shadow-none mt-4">Read more</button>
          </div>
        </div>

        <!-- Right Section with the Form -->
{{> __cashform}}
      </div>
    </div>
  </div>
</header>

<!-- -------- END HEADER 1 w/ text and image on right ------- -->

<div class="card card-body blur shadow-blur mx-3 mx-md-4 mt-n6">
