<section class="my-5">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-12 my-auto">
        <h3 class="text-gradient text-dark mb-0">Sell Your Florida Home Fast</h3>
        <h3>Regardless of Your Situation</h3>
        <p class="pe-md-5 mb-4">
          Life moves fast, and managing the sale of your house doesn’t have to add to the chaos.
           At Nick’s Home Offer, we specialize in helping homeowners across Florida with a hassle-free selling process.
          Whether you own a single-family home, multi-family property, condo, mobile home, or land, we’re here to assist you.
          We understand that every homeowner has unique challenges, and we’re ready to help, no matter the circumstances.
</p>
        <p class="pe-md-5 mb-4">
          At <strong>Nick Property</strong>, we’re committed to making home selling as simple as possible. We handle the paperwork, cover the closing costs, and work around your schedule to ensure a smooth, stress-free process.
        </p>
        <div class="github-buttons">
          <a href="https://www.nickproperty.github.io" target="_blank" class="btn bg-gradient-dark mb-5 mb-sm-0">Get Started Now</a>
        </div>
      </div>
      <div class="col-md-5 col-12 my-auto">
        <ul class="pe-md-5">
          <li>Avoiding foreclosure</li>
          <li>Need a quick sale</li>
          <li>Avoid dealing with a Realtor</li>
          <li>Eviction or condemned property</li>
          <li>Relocating to a new city</li>
          <li>Behind on payments or taxes</li>
          <li>Divorce or family situation changes</li>
          <li>Deceased family member</li>
          <li>Water, fire, or mold damage</li>
          <li>Extensive repairs needed</li>
          <li>Probate or inherited house</li>
          <li>Bad tenant, squatters, or hoarders</li>
        </ul>
      </div>
    </div>
  </div>
</section>
