        <div class="col-lg-8 col-md-5 d-flex center align-items-center justify-content-center">
          <div
            class="form-container bg-white p-4 rounded shadow"
            style="width: 80%;"
          >
            <form action="/submit-form" method="post">
          
              <div class="mb-3">
                <label for="address" class="form-label"></label>
                <input type="text" id="address" name="address" class="form-control" placeholder="Property Address" required />
              </div>
              <button type="submit" class="btn  bg-gradient-dark  mb-0 mt-2 mt-md-0"><i class="material-symbols-rounded opacity-6 me-2 text-md">payments</i>Cash Offer</button>
            </form>
          </div>
        </div>