<!-- -------- START Content Presentation Docs ------- -->
<div class="container mt-sm-5">
 <h2 class="mb-0 font-weight-bolder center">How to Sell House Fast with Nick Property</h2>
  <div class="page-header py-6 py-md-5 my-sm-3 mb-3 border-radius-xl" style="background-image: url('/public/images/howorkbanner.png');">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 ms-lg-5">
       {{> __minicashform}}
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <div class="info-horizontal bg-gradient-dark border-radius-xl d-block d-md-flex p-4">
        <i class="material-symbols-rounded text-white text-3xl">flag</i>
        <div class="ps-0 ps-md-3 mt-3 mt-md-0">
          <h5 class="text-white">Start with a Simple Click</h5>
          <p class="text-white">
              Ready to sell your house fast? Click the button below to begin. 
              Enter your property address, confirm a few basic details,
              and tell us about its current condition, including any necessary repairs.</p>
          <br><a href="/cashoffer" class="text-white icon-move-right">
            Let's start
            <i class="fas fa-arrow-right text-sm ms-1"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="col-lg-4 px-lg-1 mt-lg-0 mt-4">
      <div class="info-horizontal bg-gray-100 border-radius-xl d-block d-md-flex p-4 h-100">
        <i class="material-symbols-rounded text-gradient text-primary text-3xl">precision_manufacturing</i>
        <div class="ps-0 ps-md-3 mt-3 mt-md-0">
          <h5>Receive a Competitive Cash Offer</h5>
          <p>
            Using advanced algorithms, we analyze your property’s information, including recent comparable 
            sales in your area, to present you with a fair, no-obligation cash offer.
            We account for repair and remodeling costs, so there are no surprises.
          <br><a href="https://www.creative-tim.com/learning-lab/bootstrap/datepicker/material-kit" class="text-primary icon-move-right">
            Read more
            <i class="fas fa-arrow-right text-sm ms-1"></i>
          </a>
        </div>
      </div>
    </div>

    <div class="col-lg-4 mt-lg-0 mt-4">
      <div class="info-horizontal bg-gray-100 border-radius-xl d-block d-md-flex p-4">
        <i class="material-symbols-rounded text-gradient text-primary text-3xl">receipt_long</i>
        <div class="ps-0 ps-md-3 mt-3 mt-md-0">
          <h5>Relax While We Handle the Rest</h5>
          <p>After accepting our offer, we take care of everything—from paperwork to logistics.
              Choose a closing date that fits your schedule,
              and we’ll ensure the entire process is seamless
              and stress-free. No hidden fees, no hassle, just a straightforward sale.
          <br><a href="/cashoffer" class="text-primary icon-move-right">
            Read more
            <i class="fas fa-arrow-right text-sm ms-1"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- -------- END Content Presentation Docs ------- -->