<section class="py-sm-7" id="download-soft-ui">
  <div class="bg-gradient-dark position-relative m-3 border-radius-xl overflow-hidden">
    <img src="./public/img/shapes/waves-white.svg" alt="pattern-lines" class="position-absolute start-0 top-md-0 w-100 opacity-2">
    <div class="container py-7 postion-relative z-index-2 position-relative">
      <div class="row">
        <div class="col-md-7 mx-auto text-center">
          <h3 class="h4 text-white mb-0">Do you love this awesome</h3>
          <h3 class="text-white">UI Kit for Bootstrap 5?</h3>
          <p class="text-white mb-5">Cause if you do, it can be yours for FREE. Hit the button below to navigate to Creative Tim where you can find the Design System in HTML. Start a new project or give an old Bootstrap project a new look!</p>
          <a href="https://www.creative-tim.com/product/material-kit" class="btn btn-success btn-lg mb-3 mb-sm-0">Download HTML</a>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-6 mx-auto">
        <div class="text-center">
          <h3 class="mt-5 mb-4">Available on these technologies</h3>
          <div class="row justify-content-center">
            <div class="col-lg-2 col-4">
              <a href="https://www.creative-tim.com/product/soft-ui-design-system" target="_blank">
                <img src="https://raw.githubusercontent.com/creativetimofficial/public-public/master/logos/bootstrap5.jpg" class="img-fluid" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Bootstrap 5 - Most popular front-end component library">
              </a>
            </div>
            <div class="col-lg-2 col-4">
              <a href="javascript:;">
                <img src="https://raw.githubusercontent.com/creativetimofficial/public-public/master/logos/icon-tailwind.jpg" class="img-fluid opacity-6" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Comming soon">
              </a>
            </div>
            <div class="col-lg-2 col-4">
              <a href="javascript:;">
                <img src="https://s3.amazonaws.com/creativetim_bucket/tim_static_images/presentation-page/vue.jpg" class="img-fluid opacity-6" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Comming soon">
              </a>
            </div>
            <div class="col-lg-2 col-4">
              <a href="javascript:;">
                <img src="https://s3.amazonaws.com/creativetim_bucket/tim_static_images/presentation-page/angular.jpg" class="img-fluid opacity-6" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Comming soon">
              </a>
            </div>
            <div class="col-lg-2 col-4">
              <a href="javascript:;">
                <img src="https://s3.amazonaws.com/creativetim_bucket/tim_static_images/presentation-page/react.jpg" class="img-fluid opacity-6" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Comming soon">
              </a>
            </div>
            <div class="col-lg-2 col-4">
              <a href="javascript:;" target="_blank" >
                <img src="https://s3.amazonaws.com/creativetim_bucket/tim_static_images/presentation-page/sketch.jpg" class="img-fluid opacity-6" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Comming soon">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>